## \dd[S]  [PATTERN]      
## 显示没有在别处显示的对象描述
#set($common1 = "SELECT DISTINCT tt.nspname AS "+'"架构模式"'+", tt.name AS "+'"名称"'+", tt.object AS "+'"物件"'+", d.description AS "+'"描述"'+"
	FROM (
	  SELECT pgc.oid as oid, pgc.tableoid AS tableoid,
	  n.nspname as nspname,
	  CAST(pgc.conname AS hh_catalog.text) as name,  CAST('constraint' AS hh_catalog.text) as object
	  FROM hh_catalog.hh_constraint pgc
	    JOIN hh_catalog.hh_class c ON c.oid = pgc.conrelid
	    LEFT JOIN hh_catalog.hh_namespace n     ON n.oid = c.relnamespace
	WHERE")
#set($common2 = "UNION ALL
	  SELECT o.oid as oid, o.tableoid as tableoid,
	  n.nspname as nspname,
	  CAST(o.opcname AS hh_catalog.text) as name,
	  CAST('operator class' AS hh_catalog.text) as object
	  FROM hh_catalog.hh_opclass o
	    JOIN hh_catalog.hh_am am ON o.opcmethod = am.oid
	    JOIN hh_catalog.hh_namespace n ON n.oid = o.opcnamespace")
#set($common3 = "AND hh_catalog.hh_opclass_is_visible(o.oid)
	UNION ALL
	  SELECT opf.oid as oid, opf.tableoid as tableoid,
	  n.nspname as nspname,
	  CAST(opf.opfname AS hh_catalog.text) AS name,
	  CAST('operator family' AS hh_catalog.text) as object
	  FROM hh_catalog.hh_opfamily opf
	    JOIN hh_catalog.hh_am am ON opf.opfmethod = am.oid
	    JOIN hh_catalog.hh_namespace n ON opf.opfnamespace = n.oid")
#set($common4 = " AND hh_catalog.hh_opfamily_is_visible(opf.oid)
	UNION ALL
	  SELECT r.oid as oid, r.tableoid as tableoid,
	  n.nspname as nspname,
	  CAST(r.rulename AS hh_catalog.text) as name,  CAST('rule' AS hh_catalog.text) as object
	  FROM hh_catalog.hh_rewrite r
	       JOIN hh_catalog.hh_class c ON c.oid = r.ev_class
	       LEFT JOIN hh_catalog.hh_namespace n ON n.oid = c.relnamespace
	  WHERE r.rulename != '_RETURN'")
#set($common5 = "AND hh_catalog.hh_table_is_visible(c.oid)
	UNION ALL
	  SELECT t.oid as oid, t.tableoid as tableoid,
	  n.nspname as nspname,
	  CAST(t.tgname AS hh_catalog.text) as name,  CAST('trigger' AS hh_catalog.text) as object
	  FROM hh_catalog.hh_trigger t
	       JOIN hh_catalog.hh_class c ON c.oid = t.tgrelid
	       LEFT JOIN hh_catalog.hh_namespace n ON n.oid = c.relnamespace
	WHERE ")
#set($common6 = "hh_catalog.hh_table_is_visible(c.oid)
	) AS tt
	  JOIN hh_catalog.hh_description d ON (tt.oid = d.objoid AND tt.tableoid = d.classoid AND d.objsubid = 0)
	ORDER BY 1, 2, 3;")
#set($noS1 = "n.nspname <> 'hh_catalog'
	      AND n.nspname <> 'information_schema'
	  AND hh_catalog.hh_table_is_visible(c.oid)")
#set($noS2 = "AND n.nspname <> 'hh_catalog'
	      AND n.nspname <> 'information_schema'")
#set($noS3 = "AND n.nspname <> 'hh_catalog'
	      AND n.nspname <> 'information_schema'")
#set($noS4 = "AND n.nspname <> 'hh_catalog'
	      AND n.nspname <> 'information_schema'")
#set($noS5 = "n.nspname <> 'hh_catalog'
	      AND n.nspname <> 'information_schema' AND ")
#set($haveS = "hh_catalog.hh_table_is_visible(c.oid) ")
#set($patt1= "pgc.conname ~ '^($arg)$'")
#set($patt2= "where o.opcname ~ '^($arg)$'")
#set($patt3= "where opf.opfname ~ '^($arg)$'")
#set($patt4= "AND r.rulename ~ '^($arg)$'")
#set($patt5= "t.tgname ~ '^($arg)$' and")
$common1
#if($cmdSql.indexOf('S') < 0)
#if($arg)
$patt1
#else
$noS1
#end
#else
$haveS
#if($arg)
and 
$patt1
#end
#end
$common2
#if($cmdSql.indexOf('S') < 0)
#if($arg)
$patt2
#else
$noS2
#end
#else
#if($arg)
$patt2
#end
#end
$common3
#if($cmdSql.indexOf('S') < 0)
#if($arg)
$patt3
#else
$noS3
#end
#else
#if($arg)
$patt3
#end
#end
$common4
#if($cmdSql.indexOf('S') < 0)
#if($arg)
$patt4
#else
$noS4
#end
#else
#if($arg)
$patt4
#end
#end
$common5
#if($cmdSql.indexOf('S') < 0)
#if($arg)
$patt5
#else
$noS5
#end
#else
#if($arg)
$patt5
#end
#end
$common6
