## \dFt[+] [模式]   
## 列出文本搜索模版
#set($common1 = "SELECT 
	  n.nspname as " + '"架构模式"' +",
	  t.tmplname as " + '"名称"')
#set($common2 = ",hh_catalog.obj_description(t.oid, 'hh_ts_template') as " + '"描述"' +"
	FROM hh_catalog.hh_ts_template t
	LEFT JOIN hh_catalog.hh_namespace n ON n.oid = t.tmplnamespace
	WHERE hh_catalog.hh_ts_template_is_visible(t.oid)")
#set($common3 = "ORDER BY 1, 2;")
#set($plus = ",t.tmplinit::hh_catalog.regproc AS " + '"初始化"' +", 
	  t.tmpllexize::hh_catalog.regproc AS " + '"词汇"')
#set($patt = "AND t.tmplname ~ '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common2
#if($arg)
$patt
#end
$common3