## \di[S+] [模式]  
## 列出索引
#set($common1 = "SELECT n.nspname as " + '"架构模式"' +",
	  c.relname as " + '"名称"' +",
	  CASE c.relkind WHEN 'r' THEN 'table' WHEN 'v' THEN 'view' WHEN 'm' THEN 'materialized view' WHEN 'i' THEN 'index' WHEN 'S' THEN 'sequence' WHEN 's' THEN 'special' WHEN 'f' THEN 'foreign table' END as " + '"类别"' +",
	  hh_catalog.hh_get_userbyid(c.relowner) as " + '"拥有者"' +",
	 c2.relname as " + '"资料表"')
#set($common2 = "	FROM hh_catalog.hh_class c
	     LEFT JOIN hh_catalog.hh_namespace n ON n.oid = c.relnamespace
	     LEFT JOIN hh_catalog.hh_index i ON i.indexrelid = c.oid
	     LEFT JOIN hh_catalog.hh_class c2 ON i.indrelid = c2.oid
	WHERE c.relkind IN ('i',''")
#set($common3 = "AND n.nspname !~ '^hh_toast'
	  AND hh_catalog.hh_table_is_visible(c.oid)
	ORDER BY 1,2;")
#set($plus = ",hh_catalog.hh_size_pretty(hh_catalog.hh_table_size(c.oid)) as " + '"大小"' +",
	  hh_catalog.obj_description(c.oid, 'hh_class') as " + '"描述"')
#set($noS = "AND n.nspname <> 'hh_catalog'
	      AND n.nspname <> 'information_schema'")
#set($patt= "and c.relname ~ '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common2
#if($cmdSql.indexOf('S') < 0)
#if($arg)
,'s') $patt
#else
) $noS
#end
#else
,'s') 
#if($arg)
$patt
#end
#end
$common3
