## \l[+]	[PATTERN] 
## 列出所有数据库
#set($common1 = "SELECT d.datname as " + '"名称"' +",
	       hh_catalog.hh_get_userbyid(d.datdba) as " + '"拥有者"' +",
	       hh_catalog.hh_encoding_to_char(d.encoding) as " + '"字元编码"' +",
	       d.datcollate as " + '"校对规则"' +",
	       d.datctype as " + '"Ctype"' +",
	       hh_catalog.array_to_string(d.datacl, E'\n') AS " + '"存取权限"')
#set($common2 = "FROM hh_catalog.hh_database d")
#set($common3 = "ORDER BY 1;")
#set($plus1 = ",CASE WHEN hh_catalog.has_database_privilege(d.datname, 'CONNECT')
	            THEN hh_catalog.hh_size_pretty(hh_catalog.hh_database_size(d.datname))
	            ELSE 'No Access'
	       END as " + '"大小"' +",
	       t.spcname as " + '"表空间"' +",
	       hh_catalog.shobj_description(d.oid, 'hh_database') as " + '"描述"')
#set($plus2 = "JOIN hh_catalog.hh_tablespace t on d.dattablespace = t.oid")
#set($patt= "WHERE d.datname ~ '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus1
#end
$common2
#if($cmdSql.indexOf('+') > 0)
$plus2
#end
#if($arg)
$patt
#end
$common3
