<?xml version="1.0" encoding="UTF-8"?>
<events>
    <!--用户授权  -->
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.user_permission"
		type="CMD">
		<property name="CMD"> <!-- 类型 -->
		<![CDATA[
		  grantUserPermission
		]]>
		</property>
		<property name="userName"> <!-- 用户库名称 -->
		<![CDATA[
		  lxg
		]]>
		</property>
		
	</event>
	 
<events>