## \dD[S+] [PATTERN]      
##List of domains
#set($common1 = "SELECT n.nspname as " + '"Schema"' +",
	       t.typname as " + '"Name"' +",
	       hh_catalog.format_type(t.typbasetype, t.typtypmod) as " + '"Type"' +",
	       (SELECT c.collname FROM hh_catalog.hh_collation c, hh_catalog.hh_type bt
	        WHERE c.oid = t.typcollation AND bt.oid = t.typbasetype AND t.typcollation <> bt.typcollation) as " + '"Collation"' +",
	       CASE WHEN t.typnotnull THEN 'not null' END as " + '"Nullable"' +",
	       t.typdefault as " + '"Default"' +",
	       hh_catalog.array_to_string(ARRAY(
	         SELECT hh_catalog.hh_get_constraintdef(r.oid, true) FROM hh_catalog.hh_constraint r WHERE t.oid = r.contypid
	       ), ' ') as " + '"Check"')
#set($common2 = "FROM hh_catalog.hh_type t
	     LEFT JOIN hh_catalog.hh_namespace n ON n.oid = t.typnamespace")
#set($common3 = "WHERE t.typtype = 'd'")
#set($common4 = "AND hh_catalog.hh_type_is_visible(t.oid)
	ORDER BY 1, 2;")
#set($plus1 = ",hh_catalog.array_to_string(t.typacl, E'\n') AS " + '"Access privileges"' +",
	       d.description as " + '"Description"')
#set($plus2 = "LEFT JOIN hh_catalog.hh_description d ON d.classoid = t.tableoid AND d.objoid = t.oid AND d.objsubid = 0")
#set($noS = "AND n.nspname <> 'hh_catalog'
	      AND n.nspname <> 'information_schema'")
#set($patt= "AND t.typname OPERATOR(hh_catalog.~) '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus1
#end
$common2
#if($cmdSql.indexOf('+') > 0)
$plus2
#end
$common3
#if($cmdSql.indexOf('S') < 0)
#if($arg)
$patt
#else
$noS
#end
#else
#if($arg)
$patt
#end
#end
$common4
