## \dFp[+] [Schema]     
## List of text search parsers 
#set($common1 = "SELECT 
	  n.nspname as " +'"Schema"' +",
	  p.prsname as " +'"Name"' +",
	  hh_catalog.obj_description(p.oid, 'hh_ts_parser') as " +'"Description"' +"
	FROM hh_catalog.hh_ts_parser p 
	LEFT JOIN hh_catalog.hh_namespace n ON n.oid = p.prsnamespace
	WHERE hh_catalog.hh_ts_parser_is_visible(p.oid)")
#set($common2 = "ORDER BY 1, 2;")
#set($patt= "AND p.prsname ~ '^($arg)$'")
$common1
#if($arg)
$patt
#end
$common2
