## \dFt[+] [Schema]   
## List of text search templates
#set($common1 = "SELECT 
	  n.nspname as " + '"Schema"' +",
	  t.tmplname as " + '"Name"')
#set($common2 = ",hh_catalog.obj_description(t.oid, 'hh_ts_template') as " + '"Description"' +"
	FROM hh_catalog.hh_ts_template t
	LEFT JOIN hh_catalog.hh_namespace n ON n.oid = t.tmplnamespace
	WHERE hh_catalog.hh_ts_template_is_visible(t.oid)")
#set($common3 = "ORDER BY 1, 2;")
#set($plus = ",t.tmplinit::hh_catalog.regproc AS " + '"Init"' +", 
	  t.tmpllexize::hh_catalog.regproc AS " + '"Lexize"')
#set($patt = "AND t.tmplname OPERATOR(hh_catalog.~) '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common2
#if($arg)
$patt
#end
$common3