## \dg[+]  [PATTERN]      
## List of roles
#set($common1 = "SELECT r.rolname as"+ '"Role name"'+", r.rolsuper as superuser, r.rolinherit as extends,
	  r.rolcreaterole as"+ '"Create role"'+", r.rolcreatedb as"+ '"Create DB"'+", r.rolcanlogin as Replication,
	  r.rolconnlimit as Bypass, r.rolvaliduntil as RLS,
	  ARRAY(SELECT b.rolname
	        FROM hh_catalog.hh_auth_members m
	        JOIN hh_catalog.hh_roles b ON (m.roleid = b.oid)
	        WHERE m.member = r.oid) as"+ '"Member of"')
#set($common2 = ", r.rolreplication as copy
	FROM hh_catalog.hh_roles r")
#set($common3 = "ORDER BY 1;")
#set($plus = ",hh_catalog.shobj_description(r.oid, 'hh_authid') AS Description")
#set($patt= "WHERE r.rolname OPERATOR(hh_catalog.~) '^($arg)$'")
#set($patt1= "WHERE r.rolname !~ '^hh_'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common2
#if($arg)
$patt
#elseif($cmdSql.indexOf('S')>0)
#else
$patt1
#end
$common3