## \dn[S+] [PATTERN] 
##List of schemas
#set($common1 = "SELECT n.nspname AS " + '"Name"' +",
	  hh_catalog.hh_get_userbyid(n.nspowner) AS " + '"Owner"')
#set($common2 = "FROM hh_catalog.hh_namespace n")
#set($common3 = "ORDER BY 1;")
#set($plus = ",hh_catalog.array_to_string(n.nspacl, E'\n') AS " + '"Access privileges"' +",
	  hh_catalog.obj_description(n.oid, 'hh_namespace') AS " + '"Description"')
#set($noS = "WHERE n.nspname !~ '^hh_' AND n.nspname <> 'information_schema'")
#set($patt = "WHERE n.nspname ~ '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common2
#if($cmdSql.indexOf('S') < 0)
#if($arg)
$patt
#else
$noS
#end
#else
#if($arg)
$patt
#end
#end
$common3
