## \dx[+]  [PATTERN]      
## List of installed extensions
#set($common1 = "SELECT e.extname AS "+'"Name"'+", e.extversion AS "+'"Version"'+", n.nspname AS "+'"Schema"'+", c.description AS "+'"Description"'+"
	FROM hh_catalog.hh_extension e LEFT JOIN hh_catalog.hh_namespace n ON n.oid = e.extnamespace LEFT JOIN hh_catalog.hh_description c ON c.objoid = e.oid AND c.classoid = 'hh_catalog.hh_extension'::hh_catalog.regclass")
#set($common2 = "ORDER BY 1;")
#set($patt = "WHERE e.extname ~ '^($arg)$'")
#set($plus1 = "SELECT s.extname as ExtendName,hh_catalog.hh_describe_object(classid, objid, 0) AS "+'"Object description"'+"
	FROM hh_catalog.hh_depend m
	JOIN hh_catalog.hh_extension s ON (m.refobjid = s.oid)
	WHERE refclassid = 'hh_catalog.hh_extension'::hh_catalog.regclass AND refobjid in (SELECT e.oid FROM hh_catalog.hh_extension e")
#set($plus2 = ") AND deptype = 'e'")
#if($cmdSql.indexOf('+') > 0)
$plus1
#if($arg)
$patt
#end
$plus2
$common2
#else
$common1
#if($arg)
$patt
#end
$common2
#end
