## \z     [Schema] 
##Lists access rights for tables, views, and sequences
#set($common1 = "SELECT n.nspname as " + '"Schema"' +",
	  c.relname as " + '"Name"' +",
	  CASE c.relkind WHEN 'r' THEN 'table' WHEN 'v' THEN 'view' WHEN 'm' THEN 'materialized view' WHEN 'S' THEN 'sequence' WHEN 'f' THEN 'foreign table' END as " + '"Type"' +",
	  hh_catalog.array_to_string(c.relacl, E'\n') AS " + '"Access privileges"' +",
	  hh_catalog.array_to_string(ARRAY(
	    SELECT attname || E':\n  ' || hh_catalog.array_to_string(attacl, E'\n  ')
	    FROM hh_catalog.hh_attribute a
	    WHERE attrelid = c.oid AND NOT attisdropped AND attacl IS NOT NULL
	  ), E'\n') AS " + '"Column privileges"' +",
	  hh_catalog.array_to_string(ARRAY(
	    SELECT polname ")
#set($plus="|| CASE WHEN NOT polpermissive THEN
	       E' (RESTRICTIVE)'
	       ELSE '' END")
#set($common2 = "|| CASE WHEN polcmd != '*' THEN
	           E' (' || polcmd || E'):'
	       ELSE E':'
	       END
	    || CASE WHEN polqual IS NOT NULL THEN
	           E'\n  (u): ' || hh_catalog.hh_get_expr(polqual, polrelid)
	       ELSE E''
	       END
	    || CASE WHEN polwithcheck IS NOT NULL THEN
	           E'\n  (c): ' || hh_catalog.hh_get_expr(polwithcheck, polrelid)
	       ELSE E''
	       END    || CASE WHEN polroles <> '{0}' THEN
	           E'\n  to: ' || hh_catalog.array_to_string(
	               ARRAY(
	                   SELECT rolname
	                   FROM hh_catalog.hh_roles
	                   WHERE oid = ANY (polroles)
	                   ORDER BY 1
	               ), E', ')
	       ELSE E''
	       END
	    FROM hh_catalog.hh_policy pol
	    WHERE polrelid = c.oid), E'\n')
	    AS " + '"Policies"' +"
	FROM hh_catalog.hh_class c
	     LEFT JOIN hh_catalog.hh_namespace n ON n.oid = c.relnamespace
	WHERE c.relkind IN ('r', 'v', 'm', 'S', 'f','p')")
#set($common3 = "AND n.nspname !~ '^hh_' AND hh_catalog.hh_table_is_visible(c.oid)
	ORDER BY 1, 2;") 
#set($patt= "AND c.relname ~ '^($arg)$'")
$common1
#if($ver >= 10)
$plus
#end
$common2
#if($arg)
$patt
#end
$common3
