<?xml version="1.0" encoding="UTF-8"?>
<events>
    <!--新建序列  -->
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.sequence"
		type="CMD">
		<property name="CMD"> <!-- 类型 -->
		<![CDATA[
		 createSequenceEvent
		]]>
		</property>
		<property name="databaseName"> <!-- 数据库名称 -->
		<![CDATA[
		hhdb
		]]>
		</property>
		<property name="schemaName"> <!-- 模式名 -->
		<![CDATA[
		public
		]]>
		</property>
	</event>
	 <!--设计序列  -->
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.sequence"
		type="CMD">
		<property name="CMD"> <!-- 类型 -->
		<![CDATA[
		 editSequenceEvent
		]]>
		</property>
		<property name="databaseName"> <!-- 数据库名称 -->
		<![CDATA[
		hhdb
		]]>
		</property>
		<property name="schemaName"> <!-- 模式名 -->
		<![CDATA[
		public
		]]>
		</property>
		
		<property name="seqName"> <!--序列名 -->
		<![CDATA[
		 test4
		]]>
		</property>
	</event>
<events>