<?xml version="1.0" encoding="UTF-8"?>
<events>
	<!-- 打开视图 -->
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.view"
		type="CMD">
		<property name="CMD">
			viewOpenEvent
		</property>
		<property name="databaseName"> <!-- 数据库名称 -->
		hhdb
		</property>
		<property name="schemaName"> <!-- 模式名 -->
		public
		</property>
		<property name="viewName"> <!-- 视图名 -->
		jkl
		</property>
		<property name="ico">
			false
		</property>
	</event>
	<!-- 新建视图 -->
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.view"
		type="CMD">
		<property name="CMD">
			viewAddEvent
		</property>
		<property name="databaseName"> <!-- 数据库名称 -->
		hhdb
		</property>
		<property name="schemaName"> <!-- 模式名 -->
		public
		</property>
	</event>
	<!-- 修改视图 -->
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.view"
		type="CMD">
		<property name="CMD">
			viewEditEvent
		</property>
		<property name="databaseName"> <!-- 数据库名称 -->
		hhdb
		</property>
		<property name="viewName"> <!-- 视图名称 -->
		jkl
		</property>
		<property name="schemaName"> <!-- 模式名 -->
		public
		</property>
	</event>

</events>