<?xml version="1.0" encoding="UTF-8"?>
<events>
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.type_create"
		type="CMD">
		<!--一个事件中可以包含一个或者多个属性 -->
		<property name="CMD">
			TypeCreateMainEvent
		</property>
		<property name="schemaName"><!--模式名字-->
			public
		</property>
	</event>
<events>