## \dD[S+] [PATTERN]      
##列出共同值域
#set($common1 = "SELECT n.nspname as " + '"架构模式"' +",
	       t.typname as " + '"名称"' +",
	       pg_catalog.format_type(t.typbasetype, t.typtypmod) as " + '"型别"' +",
	       TRIM(LEADING
	            COALESCE((SELECT ' collate ' || c.collname FROM pg_catalog.pg_collation c, pg_catalog.pg_type bt
	                      WHERE c.oid = t.typcollation AND bt.oid = t.typbasetype AND t.typcollation <> bt.typcollation), '') ||
	            CASE WHEN t.typnotnull THEN ' not null' ELSE '' END ||
	            CASE WHEN t.typdefault IS NOT NULL THEN ' default ' || t.typdefault ELSE '' END
	       ) as " + '"修饰词"' +",
	       pg_catalog.array_to_string(ARRAY(
	         SELECT pg_catalog.pg_get_constraintdef(r.oid, true) FROM pg_catalog.pg_constraint r WHERE t.oid = r.contypid
	       ), ' ') as " + '"检查"')
#set($common2 = "FROM pg_catalog.pg_type t
	     LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace")
#set($common3 = "WHERE t.typtype = 'd'")
#set($common4 = "AND pg_catalog.pg_type_is_visible(t.oid)
	ORDER BY 1, 2;")
#set($plus1 = ",pg_catalog.array_to_string(t.typacl, E'\n') AS " + '"存取权限"' +",
	       d.description as " + '"描述"')
#set($plus2 = "LEFT JOIN pg_catalog.pg_description d ON d.classoid = t.tableoid AND d.objoid = t.oid AND d.objsubid = 0")
#set($noS = "AND n.nspname <> 'pg_catalog'
	      AND n.nspname <> 'information_schema'")
#set($patt= "AND t.typname ~ '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus1
#end
$common2
#if($cmdSql.indexOf('+') > 0)
$plus2
#end
$common3
#if($cmdSql.indexOf('S') < 0)
#if($arg)
$patt
#else
$noS
#end
#else
#if($arg)
$patt
#end
#end
$common4
