## \dL[S+] [PATTERN]      
## 列出所有过程语言
#set($common1 = "SELECT l.lanname AS " + '"名称"' +",
	       pg_catalog.pg_get_userbyid(l.lanowner) as " + '"拥有者"' +",
	       l.lanpltrusted AS " + '"信任"')
#set($common2 = ",d.description AS " + '"描述"' +"
	FROM pg_catalog.pg_language l
	LEFT JOIN pg_catalog.pg_description d
	  ON d.classoid = l.tableoid AND d.objoid = l.oid
	  AND d.objsubid = 0")
#set($common3 = "ORDER BY 1;")
#set($plus = ",NOT l.lanispl AS " + '"内部语言"' +",
	       l.lanplcallfoid::regprocedure AS " + '"调用函数"' +",
	       l.lanvalidator::regprocedure AS " + '"验证"' +",
	       l.laninline::regprocedure AS " + '"内联函数"' +",
	       pg_catalog.array_to_string(l.lanacl, E'\n') AS " + '"存取权限"')
#set($noS = "WHERE l.lanplcallfoid != 0")
#set($patt= "WHERE l.lanname ~ '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common2
#if($cmdSql.indexOf('S') < 0)
#if($arg)
$patt
#else
$noS
#end
#else
#if($arg)
$patt
#end
#end
$common3
