## \dm[S+] [PATTERN]      
## 列出所有物化视图
#set($common1 = "SELECT n.nspname as " + '"架构模式"' +",
	  c.relname as " + '"名称"' +",
	  CASE c.relkind WHEN 'r' THEN 'table' WHEN 'v' THEN 'view' WHEN 'm' THEN 'materialized view' WHEN 'i' THEN 'index' WHEN 'S' THEN 'sequence' WHEN 's' THEN 'special' WHEN 'f' THEN 'foreign table' END as " + '"类别"' +",
	  pg_catalog.pg_get_userbyid(c.relowner) as " + '"拥有者"')
#set($common2 = "FROM pg_catalog.pg_class c
	     LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
	WHERE c.relkind IN ('m',''")
#set($common3 = "AND n.nspname !~ '^pg_toast'
	  AND pg_catalog.pg_table_is_visible(c.oid)
	ORDER BY 1,2;")
#set($plus = ",pg_catalog.pg_size_pretty(pg_catalog.pg_table_size(c.oid)) as " + '"大小"' +",
	  pg_catalog.obj_description(c.oid, 'pg_class') as " + '"描述"')
#set($noS = "AND n.nspname <> 'pg_catalog'
	      AND n.nspname <> 'information_schema'")
#set($patt= "and c.relname ~ '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common2
#if($cmdSql.indexOf('S') < 0)
#if($arg)
,'s') $patt
#else
) $noS
#end
#else
,'s') 
#if($arg)
$patt
#end
#end
$common3
