## \dy     [PATTERN]      
## 列出所有事件触发器
#set($common1 = "SELECT evtname as "+'"名称"'+", evtevent as "+'"Event"'+", pg_catalog.pg_get_userbyid(e.evtowner) as "+'"拥有者"'+",
	 case evtenabled when 'O' then 'enabled'  when 'R' then 'replica'  when 'A' then 'always'  when 'D' then 'disabled' end as "+'"使能"'+",
	 e.evtfoid::pg_catalog.regproc as "+'"过程"'+", pg_catalog.array_to_string(array(select x from pg_catalog.unnest(evttags) as t(x)), ', ') as "+'"标签"'+"
	FROM pg_catalog.pg_event_trigger e")
#set($common2 = "ORDER BY 1;")
#set($patt= "WHERE evtname ~ '^($arg)$'")
$common1
#if($arg)
$patt
#end
$common2
