<?xml version="1.0" encoding="UTF-8"?>
<events>
	<!-- 添加用户 -->
	<event from="begin" to="com.hhdb.csadmin.plugin.user_create"
		type="CMD">
		<property name="CMD">
			add
		</property>
	</event>
	
	<!-- 修改用户密码及超级权限 -->
	<event from="begin" to="com.hhdb.csadmin.plugin.user_create"
		type="CMD">
		<property name="CMD">
			upd
		</property>
		<property name="userid"> 
		<![CDATA[
		110
		]]>
		</property>
		<property name="username"> <!-- 用户名 -->
		<![CDATA[
		asd
		]]>
		</property>
	</event>
	<!-- 删除用户 -->
	<event from="begin" to="com.hhdb.csadmin.plugin.user_create"
		type="CMD">
		<property name="CMD">
			del
		</property>
		<property name="username"> <!-- 用户名 -->
		<![CDATA[
		asd
		]]>
		</property>
	</event>
	<!-- 重命名 -->
	<event from="begin" to="com.hhdb.csadmin.plugin.user_create"
		type="CMD">
		<property name="CMD">
			rename
		</property>
		<property name="username"> <!-- 用户名  -->
		<![CDATA[
		asd
		]]>
		</property>
	</event>

</events>