## \dF[+]  [Schema]   
## List of text search configurations       
#set($common1 = "SELECT 
	   c.oid,
	   n.nspname as 架构模式,
	   c.cfgname as 名称,
	   pg_catalog.obj_description(c.oid, 'pg_ts_config') as 描述
	FROM pg_catalog.pg_ts_config c
	LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.cfgnamespace
	WHERE pg_catalog.pg_ts_config_is_visible(c.oid)")
#set($common2 = "ORDER BY 1, 2;")
#set($patt= "AND c.cfgname ~ '^($arg)$'")
#set($common3= "SELECT (SELECT t.alias FROM
	    pg_catalog.ts_token_type(c.cfgparser) AS t
	    WHERE t.tokid = m.maptokentype ) AS 标志符,
	  pg_catalog.btrim(
	    ARRAY( SELECT mm.mapdict::pg_catalog.regdictionary
	           FROM pg_catalog.pg_ts_config_map AS mm
	           WHERE mm.mapcfg = m.mapcfg AND mm.maptokentype = m.maptokentype
	    ):: pg_catalog.text,
	  '{}') AS 字典
	FROM pg_catalog.pg_ts_config AS c, pg_catalog.pg_ts_config_map AS m
	WHERE c.oid in (select oid from (SELECT 
	   c.oid as oid,
	   n.nspname as schema,
	   c.cfgname as name,
	   pg_catalog.obj_description(c.oid, 'pg_ts_config') as Description
	FROM pg_catalog.pg_ts_config c
	LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.cfgnamespace
	WHERE pg_catalog.pg_ts_config_is_visible(c.oid)) as p where p.name ~ '^($arg)$' ) AND m.mapcfg = c.oid
	ORDER BY 2;")
#set($common4= "SELECT (SELECT t.alias FROM
	    pg_catalog.ts_token_type(c.cfgparser) AS t
	    WHERE t.tokid = m.maptokentype ) AS 标志符,
	  pg_catalog.btrim(
	    ARRAY( SELECT mm.mapdict::pg_catalog.regdictionary
	           FROM pg_catalog.pg_ts_config_map AS mm
	           WHERE mm.mapcfg = m.mapcfg AND mm.maptokentype = m.maptokentype
	    )::pg_catalog.text,
	  '{}') AS 字典
	FROM pg_catalog.pg_ts_config AS c, pg_catalog.pg_ts_config_map AS m
	WHERE c.oid in (select oid from (SELECT 
	   c.oid as oid,
	   n.nspname as schema,
	   c.cfgname as name,
	   pg_catalog.obj_description(c.oid, 'pg_ts_config') as Description
	FROM pg_catalog.pg_ts_config c
	LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.cfgnamespace
	WHERE pg_catalog.pg_ts_config_is_visible(c.oid)
) as p) AND m.mapcfg = c.oid ORDER BY 2;")
#if($cmdSql.indexOf('+')>0)
#if($arg)
$common3
#else
$common4
#end
#end
#if($cmdSql.indexOf('+')<0)
$common1
#if($arg)
$patt
#end
$common2
#end
