## \l[+]	[PATTERN] 
## List of databases
#set($common1 = "SELECT d.datname as " + '"名称"' +",
	       pg_catalog.pg_get_userbyid(d.datdba) as " + '"拥有者"' +",
	       pg_catalog.pg_encoding_to_char(d.encoding) as " + '"字符编码"' +",
	       d.datcollate as " + '"校对规则"' +",
	       d.datctype as " + '"Ctype"' +",
	       pg_catalog.array_to_string(d.datacl, E'\n') AS " + '"存取权限"')
#set($common2 = "FROM pg_catalog.pg_database d")
#set($common3 = "ORDER BY 1;")
#set($plus1 = ",CASE WHEN pg_catalog.has_database_privilege(d.datname, 'CONNECT')
	            THEN pg_catalog.pg_size_pretty(pg_catalog.pg_database_size(d.datname))
	            ELSE 'No Access'
	       END as " + '"大小"' +",
	       t.spcname as " + '"表空间"' +",
	       pg_catalog.shobj_description(d.oid, 'pg_database') as " + '"描述"')
#set($plus2 = "JOIN pg_catalog.pg_tablespace t on d.dattablespace = t.oid")
#set($patt= "WHERE d.datname ~ '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus1
#end
$common2
#if($cmdSql.indexOf('+') > 0)
$plus2
#end
#if($arg)
$patt
#end
$common3
