## \d[S+] Name
##List the table,view and sequence,	describe table，view，sequence，or index
#if($arg)
#set($index = "SELECT c2.relname as sequence_name, pg_catalog.pg_get_indexdef(i.indexrelid, 0, true) as definition,
	  pg_catalog.pg_get_constraintdef(con.oid, true) as constraint
	FROM pg_catalog.pg_class c, pg_catalog.pg_class c2, pg_catalog.pg_index i
	  LEFT JOIN pg_catalog.pg_constraint con ON (conrelid = i.indrelid AND conindid = i.indexrelid AND contype IN ('p','u','x'))
	WHERE c.oid in ($oid) AND c.oid = i.indrelid AND i.indexrelid = c2.oid
	ORDER BY i.indisprimary DESC, i.indisunique DESC, c2.relname;")
#set($common1 = "SELECT a.attname as Column,
	  pg_catalog.format_type(a.atttypid, a.atttypmod) as type,
	  (SELECT substring(pg_catalog.pg_get_expr(d.adbin, d.adrelid) for 128)
	   FROM pg_catalog.pg_attrdef d
	   WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum AND a.atthasdef) as qualifier")
#set($common2 = "FROM pg_catalog.pg_attribute a
	WHERE a.attrelid in ($oid)
	AND a.attnum > 0 AND NOT a.attisdropped
	ORDER BY a.attnum;")
#set($plus = ",a.attstorage as memory,
	  CASE WHEN a.attstattarget=-1 THEN NULL ELSE a.attstattarget END AS Statistical_target,
	  pg_catalog.col_description(a.attrelid, a.attnum) as Description")
#if($hasindex)
$index
#else
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common2
#end
#else
#set($common1 = "SELECT n.nspname as " + '"Schema"' +",
	c.relname as " + '"Name"' +",
	CASE c.relkind WHEN 'r' THEN 'table' WHEN 'v' THEN 'view' WHEN 'm' THEN 'materialized view' WHEN 'i' THEN 'index' WHEN 'S' THEN 'sequence' WHEN 's' THEN 'special' WHEN 'f' THEN 'foreign table' END as " + '"Type"' +",
	pg_catalog.pg_get_userbyid(c.relowner) as " + '"Owner"')
#set($common2 = "FROM pg_catalog.pg_class c
	     LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
	WHERE c.relkind IN ('r','v','m','S','f',''")
#set($common3 = "AND n.nspname !~ '^pg_toast'
	  AND pg_catalog.pg_table_is_visible(c.oid)
	ORDER BY 1,2;")
#set($plus = ",pg_catalog.pg_size_pretty(pg_catalog.pg_table_size(c.oid)) as " + '"Size"' +",
	  pg_catalog.obj_description(c.oid, 'pg_class') as " + '"Description"')
#set($noS = "AND n.nspname <> 'pg_catalog'
	      AND n.nspname <> 'information_schema'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common2
#if($cmdSql.indexOf('S') < 0)
) $noS
#else
,'s') 
#end
$common3
#end
