## \dC[+]  [PATTERN]      
## List of casts 
#set($common1 = "SELECT pg_catalog.format_type(castsource, NULL) AS " + '"Source type "' +",
	       pg_catalog.format_type(casttarget, NULL) AS " + '"Target type"' +",
	       CASE WHEN castfunc = 0 THEN '(binary coercible)'
	            ELSE p.proname
	       END as " + '"Function"' +",
	       CASE WHEN c.castcontext = 'e' THEN 'no'
	            WHEN c.castcontext = 'a' THEN 'in assignment'
	            ELSE 'yes'
	       END as " + '"Implicit?"')
#set($common2 = "FROM pg_catalog.pg_cast c LEFT JOIN pg_catalog.pg_proc p
	     ON c.castfunc = p.oid
	     LEFT JOIN pg_catalog.pg_type ts
	     ON c.castsource = ts.oid
	     LEFT JOIN pg_catalog.pg_namespace ns
	     ON ns.oid = ts.typnamespace
	     LEFT JOIN pg_catalog.pg_type tt
	     ON c.casttarget = tt.oid
	     LEFT JOIN pg_catalog.pg_namespace nt
	     ON nt.oid = tt.typnamespace")
#set($common3 = "WHERE ( (true  AND pg_catalog.pg_type_is_visible(ts.oid)
	) OR (true  AND pg_catalog.pg_type_is_visible(tt.oid)
	) )
	ORDER BY 1, 2;")
#set($plus1 = ",d.description AS " + '"Description"')
#set($plus2 = "LEFT JOIN pg_catalog.pg_description d
	     ON d.classoid = c.tableoid AND d.objoid = c.oid AND d.objsubid = 0")
#set($patt = "WHERE ( (true  AND (ts.typname OPERATOR(pg_catalog.~) '^($arg)$'
	        OR pg_catalog.format_type(ts.oid, NULL) OPERATOR(pg_catalog.~) '^($arg)$')
	  AND pg_catalog.pg_type_is_visible(ts.oid)
	) OR (true  AND (tt.typname OPERATOR(pg_catalog.~) '^($arg)$'
	        OR pg_catalog.format_type(tt.oid, NULL) OPERATOR(pg_catalog.~) '^($arg)$')
	  AND pg_catalog.pg_type_is_visible(tt.oid)
	) )
	ORDER BY 1, 2;")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus1
#end
$common2
#if($cmdSql.indexOf('+') > 0)
$plus2
#end
#if($arg)
$patt
#else
$common3
#end
