## \dFd[+] [Schema]     
## List of text search dictionaries    
#set($common1 = "SELECT 
	  n.nspname as " + '"Schema"' +",
	  d.dictname as " + '"Name"')
#set($common2 = ",pg_catalog.obj_description(d.oid, 'pg_ts_dict') as " + '"Description"' +"
	FROM pg_catalog.pg_ts_dict d
	LEFT JOIN pg_catalog.pg_namespace n ON n.oid = d.dictnamespace
	WHERE pg_catalog.pg_ts_dict_is_visible(d.oid)")
#set($common3 = "ORDER BY 1, 2;")
#set($plus = ",( SELECT COALESCE(nt.nspname, '(null)')::pg_catalog.text || '.' || t.tmplname FROM 
	    pg_catalog.pg_ts_template t 
				 LEFT JOIN pg_catalog.pg_namespace nt ON nt.oid = t.tmplnamespace 
				 WHERE d.dicttemplate = t.oid ) AS " + '"template"' +", 
	  d.dictinitoption as " + '"Init options"')
#set($patt = "AND d.dictname OPERATOR(pg_catalog.~) '^($arg)$'")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common2
#if($arg)
$patt
#end
$common3