## \do[S]  [Schema]   
## List of operators
#set($common1 = "SELECT n.nspname as " + '"Schema"' +",
	  o.oprname AS " + '"Name"' +",
	  CASE WHEN o.oprkind='l' THEN NULL ELSE pg_catalog.format_type(o.oprleft, NULL) END AS " + '"Left arg type"' +",
	  CASE WHEN o.oprkind='r' THEN NULL ELSE pg_catalog.format_type(o.oprright, NULL) END AS " + '"Right arg type"' +",
	  pg_catalog.format_type(o.oprresult, NULL) AS " + '"Result type"' +",
	   ")
#set($plus = "o.oprcode AS Function,")
#set($common3 = "coalesce(pg_catalog.obj_description(o.oid, 'pg_operator'),
	           pg_catalog.obj_description(o.oprcode, 'pg_proc')) AS " + '"Description"' +"
	FROM pg_catalog.pg_operator o
	     LEFT JOIN pg_catalog.pg_namespace n ON n.oid = o.oprnamespace
	WHERE ")
#set($common2 = "pg_catalog.pg_operator_is_visible(o.oid)
	ORDER BY 1, 2, 3, 4;")
#set($noS = "n.nspname <> 'pg_catalog'
	      AND n.nspname <> 'information_schema' AND ")
#set($patt = "o.oprname ~ '^($arg)$' and ")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common3
#if($cmdSql.indexOf('S') < 0)
#if($arg)
$patt
#else
$noS
#end
#else
#if($arg)
$patt
#end
#end
$common2
