## \dRs[+] [PATTERN] 
## list replication subscriptions
#set($common1 = "SELECT subname AS "+ '"Name"' +",
	pg_catalog.pg_get_userbyid(subowner) AS "+ '"Owner"' +",
	subenabled AS "+ '"Enabled"' +",
	subpublications AS "+ '"Publication"'+"")
#set($common2 = "ORDER BY 1;")
#set($patt = "AND subname ~ '^($arg)$'")
#set($plus=",subsynccommit AS "+ '"Synchronous commit"' +",
	subconninfo AS "+ '"Conninfo"' +"")
#set($common3="FROM pg_catalog.pg_subscription
	WHERE subdbid = (SELECT oid
	                 FROM pg_catalog.pg_database
	                 WHERE datname = pg_catalog.current_database())")
$common1
#if($cmdSql.indexOf('+') > 0)
$plus
#end
$common3
#if($arg)
$patt
#end
$common2











