## \sv[+] FUNCNAME
## Display view definition
#set($common1 = "SELECT pg_catalog.pg_get_viewdef (
            c.oid,
            TRUE
        ) as "+'"view definition"'+"
    FROM
        pg_catalog.pg_class c LEFT JOIN pg_catalog.pg_namespace n
            ON c.relnamespace = n.oid
    WHERE
        c.oid = (SELECT '$arg'::pg_catalog.regclass::pg_catalog.oid)")
$common1

