<?xml version="1.0" encoding="UTF-8"?>
<events>
	<!-- 打开数据面板 -->
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.flow_editor"type="CMD">
		<property name="CMD"> 	
		manipulate
		</property>
		<property name="databaseName"> 	<!-- 数据库名称 -->
		hhdb
		</property>
		<property name="schemaName"> 	<!-- 模式名 -->
		public
		</property>
		<property name="tableName"> 	<!-- 表名 -->
		test
		</property>
		<property name="columnName"> 	<!-- 列名 -->
		test
		</property>
		<property name="ctid"> 	    <!-- id -->
		test
		</property>
		<property name="value"> 	    <!-- 值 -->
		test
		</property>
	</event>
	<!-- 打开查看数据面板 -->
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.flow_editor"type="CMD">
		<property name="CMD"> 	
		open
		</property>
		<property name="value"> 	    <!-- 值 -->
		test
		</property>
	</event>
</events>