<?xml version="1.0" encoding="UTF-8"?>
<!-- 打开查询界面 -->
<events>
	<event from="com.hhdb.csadmin.plugin.tool_bar" to="com.hhdb.csadmin.plugin.query"
		type="COMMON">
	</event>

	<event from="com.hhdb.csadmin.plugin.tool_bar" to="com.hhdb.csadmin.plugin.query"
		type="CMD">
		<property name="CMD">
			initText
		</property>
		<property name="Text">
			select * from test
		</property>
	</event>
</events>