<?xml version="1.0" encoding="UTF-8"?>
<events>
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.sql_book" type="CMD">
		<property name="CMD">   <!-- 打开sql宝典 -->
			SQLBook
		</property>
	</event>
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.sql_book" type="CMD">
		<property name="CMD">   <!-- 从查询器打开sql宝典 -->
			querySQLBook
		</property>
	</event>
	<event from="com.hhdb.csadmin.plugin.test" to="com.hhdb.csadmin.plugin.sql_book" type="CMD">
		<property name="CMD">   <!-- 从查询器打开路径选择页面 -->
			querySQLSave
		</property>
		<property name="sql">   <!-- 语句  -->
			sql
		</property>
	</event>
</events>